body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #d2dee6;
}

.calculator {
    background-color: #3e3e3c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(7, 7, 7, 0.3);
}

#display {
    width: 96%;
    padding: 10px;
    font-size: 2em;
    height: 3.3rem;
    margin-bottom: 30px;
    
    border: none;
    background-color:#fff;
    color: #090909;
    border-radius: 5px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    
}

button {
    padding: 15px;
    font-size: 2rem;
    border: none;
    border-radius: 5%;

    cursor: pointer;
    background-color: #dd96e9;
    color: #fff;
    transition: background-color 0.3s;
}

button:hover {
    box-shadow: 0 0 20px rgba(211, 173, 229, 0.3);
    background-color: rgb(229, 90, 231);
    color: #333;
}

.equals {
    grid-column: span 1;
    border-radius: 10%;
    
}
